.tabs
  button.tablink#profile-btn Profile
  button.tablink#orders-btn My Orders

.tab-content#profile-tab
  p = current_user.email

.tab-content#orders-tab
  - current_user.orders.each do |order|
    .order
      p 🚂🚃🚃🚃🚃🚃🚃🚃🚃🚃🚃🚃🚃🚃🚃🚃🚃🚃🚃
      p = order.route.start.title
      p = "(#{order.route.departured_at})"
      p = order.route.destination.title
      p = "(#{order.route.arrived_at})"

a href='/auth/logout' Logout

== javascript_include_tag 'profile'