.search-form-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 3vh;
  background: #999;

  form {
    display: flex;
    flex-flow: column;
    align-items: end;

    label {
      padding: 0 20px;
    }

    input[type="submit"]{
      width: 100%;
      margin: 9px 0;
    }
  }
}

table td.empty-table {
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  background: #f1f1f1;
}
